#popup_login {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1001;
}

.content-popup {
	margin: 0px auto;
	margin-top: 50px;
	padding: 10px;
	width: 350px;
	min-height: 250px;
	border-radius: 4px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 5px #666666;
}

.close {
	position: relative;
	left: 330px;
}

.titulo_pop {
	font-size: 19px;
	color: red;
}

/** Pop up pass **/
#popup_pass {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1001;
}