<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<header>		
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Soluciones empresariales</title>
		
		<!-- Css  -->
		<link rel="stylesheet" type="text/css" href="css/estilos_main.css" />
		<link rel="stylesheet" type="text/css" href="css/menu_vertical.css">
		<link rel="stylesheet" type="text/css" href="css/menu_horizontal.css" />
		<link rel="stylesheet" type="text/css" href="css/tabla.css" />
		<link rel="stylesheet" type="text/css" href="css/popups.css" />
		<link rel="stylesheet" type="text/css" href="css/popup_login.css" />
		<link rel="stylesheet" type="text/css" href="css/Intranet.css" />
		<link rel="stylesheet" type="text/css" href="css/liteaccordion.css" />

		<!-- Animaciones -->
		<script type="text/javascript" src="script/Efectos_animaciones/jquery.js"></script>
		<script type="text/javascript" src="script/Efectos_animaciones/sliding_effect.js"></script>
		<script type="text/javascript" src="script/Efectos_animaciones/acordion.js"></script>
		<script type="text/javascript" src="script/Efectos_animaciones/popups.js"></script>
		<script type="text/javascript" src="script/Efectos_animaciones/liteaccordion.jquery.js"></script>
		<script type="text/javascript" src="script/Efectos_animaciones/liteaccordion.jquery.min.js"></script> 
					
		<!-- Validaciones -->
		<script type="text/javascript" src="script/Validaciones/validaciones_main.js"></script> 
		
		<!-- Ajax -->
		<script type="text/javascript" src="script/Ajax/contenedores.js"></script>
		<script type="text/javascript" src="script/Ajax/contenedorInicial.js"></script>  
		<script type="text/javascript" src="script/Ajax/Transacciones/login.js"></script>
		<script type="text/javascript" src="script/Ajax/Transacciones/Locales.js"></script>
		<script type="text/javascript" src="script/Ajax/Transacciones/direcciones.js"></script>
		<script type="text/javascript" src="script/Ajax/Transacciones/Usuario.js"></script>
		<script type="text/javascript" src="script/Ajax/Transacciones/empresas.js"></script>  

	</header>
<body>	